<!-- <section>
    <div class="flex">
        <img src="guitar-869217_1920.jpg" alt="" class="h-screen w-full object-cover bg-scroll">
    </div>
</section> -->
<div
  class="h-screen bg-fixed bg-cover bg-center bg-no-repeat"
  style="background-image: url(/guitar-869217_1920.jpg);"
>
  <div class="flex h-[200vh] p-86 bg-black/20 justify-center">
    <div class="text-center ">
      <h1 class="text-7xl font-bold text-neutral-200 mb-4">Victor Llanos Sagardia</h1>
      <p class="text-xl font-semibold text-neutral-100">
        Sitio web dedicado a Victor Llanos Sagardia, por su aporte constante en lo cultural, deportivo y social.
      </p>
    </div>
  </div>
</div>
